<div id="formulario" class="row col-sm-10 offset-sm-1 p-4"  >
  <div class="header"><h3>{{ titulo }}</h3></div>
  <hr id="borde"/>
    <form #impresoraForm="ngForm">
      <div class="form-group row">
        
          <div class="col-sm-5">
            <label for="modelo" class="control-label h5">Modelo</label>
            <input type="text" class="form-control" [(ngModel)]="impresora.modelo" name="modelo" #modelo="ngModel"> <!-- required minlength="4" -->
          </div>

          <div class="col-sm-5">
            <label for="descripcion" class="control-label h5">Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="impresora.descripcion" name="descripcion" #modelo="ngModel"> <!-- required minlength="4" -->          
          </div>

      </div>
        

      <div class="form-group row">

        <div class="col-sm-5">
          <label for="marca" class="control-label h5">Marcas</label>
            <select [compareWith]="comparar" class="form-control" [(ngModel)]="impresora.marca" name="marca">
              <option [ngValue]="undefined">Seleccione marca de impresora...</option>
              <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.nombre}}</option>
            </select>
        </div>
          
          <div class="col-sm-5">
            <label for="tipoImpresora" class="control-label h5">Tipo Impresora</label>
            <select [compareWith]="comparar" class="form-control" [(ngModel)]="impresora.tipoImpresora" name="tipoImpresora" style="width:500px;">
              <option [ngValue]="undefined">Seleccione tipo de impresora</option>
              <option *ngFor="let tipoImpresora of tipoImpresoras" [ngValue]="tipoImpresora">{{tipoImpresora.descripcion}}</option>
            </select>
          </div>
       </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!impresora.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' >Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>

