
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>
  </div>
  <div class="card-body">

    <br>
<div class="row col-sm-10 offset-sm-1 p-4" id="formulario">
  <h3 class=" pb-3">Solicitud </h3>
  <hr id="borde" />
  <div class="col-md-10 offset-sm-1">
    <form #Form="ngForm" class="was-validated" novalidate>
      <div class="form-group col-sm-4">
        <label class="control-label h5">Cartucho</label>
        <br>
        <label for="marca" class="col-form-label col-sm-2">Marca</label>
        <div class="col-sm-4">
          <select [compareWith]="comparar" class="form-control" [(ngModel)]="cartucho.marca" name="marca"
            style="width:250px;">
            <option [ngValue]="undefined">--- selecionar una marca ---</option>
            <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.nombre}}</option>
          </select>
        </div>

        <div class="col-md-10">
          <mat-form-field>
            <mat-label>Modelo</mat-label>
            <input type="text" placeholder="Escribir Modelo" aria-label="cartuchos" matInput
              [formControl]="myCartuchoControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="viewCartucho"
              (optionSelected)="selectedCartucho($event)">
              <mat-option *ngFor=" let cartucho of cartuchosFiltrados | async" [value]="cartucho">
                {{cartucho.modelo}}&nbsp; {{cartucho.color.nombre}}&nbsp;{{cartucho.tipoCartucho.descripcion}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> 
        </div>
      </div>

      <div class="form-group col-sm-4">
        <label class="control-label h5">Impresosa</label>
        <div class="col-sm-6">
          <select [compareWith]="comparar" class="form-control" [(ngModel)]="impresora.marca" name="marca"
            style="width:250px;">
            <option [ngValue]="undefined">--- selecionar una marca ---</option>
            <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.nombre}}</option>
          </select>

          <div class="col-md-10">
            <mat-form-field>
              <mat-label>Modelo</mat-label>
              <input type="text" placeholder="Escribir Modelo" aria-label="impresoras" matInput
                [formControl]="myImpresoraControl" [matAutocomplete]="autoo">
              <mat-autocomplete #autoo="matAutocomplete" [displayWith]="viewImpresora"
                (optionSelected)="selectedImpresora($event)">
                <mat-option *ngFor=" let impresora of impresorasFiltrados | async" [value]="impresora">
                  {{impresora.modelo}}&nbsp; {{impresora.tipoImpresora.descripcion}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

        
      </div>
  <!-- /.card-body -->
  <div class="card-footer">
 
  </div>
  <!-- /.card-footer-->
</div>