<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form #impresoraForm="ngForm">
            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">a</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="persona.apellido" name="apellido"
                        #modelo="ngModel"> <!-- required minlength="4" -->

                </div>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">n</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="persona.nombre" name="nombre"
                        #modelo="ngModel"> <!-- required minlength="4" -->
                </div>
            </div>

            <div class="form-group row">
                <label for="dni" class="col-form-label col-sm-2">dni</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="persona.dni" name="dni" #modelo="ngModel">
                    <!-- required minlength="4" -->
                </div>
            </div>

            <div class="form-group row">
                <label for="servicio" class="col-form-label col-sm-2">Servico</label>
                <div class="col-sm-6">
                    <select [compareWith]="comparar" class="form-control" [(ngModel)]="persona.servicio" name="servicio"
                        style="width:500px;">
                        <option [ngValue]="undefined">--- selecionar ---</option>
                        <option *ngFor="let servicio of servios" [ngValue]="servicio">{{servicio.nombre}}</option>
                    </select>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'
                        *ngIf="!persona.id else elseBlock">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                    </ng-template>
                </div>
            </div>



        </form>

    </div>
</div>