<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form #impresoraForm="ngForm">
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2">user</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.username" name="username"
                        #modelo="ngModel"> <!-- required minlength="4" -->
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">pass</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.password" name="password"
                        #modelo="ngModel"> <!-- required minlength="4" -->
                </div>
            </div>

            <div class="form-group row">
                <label for="enabled" class="col-form-label col-sm-2">Usuario Activo</label>
                <div class="col-sm-6">
                    <input type="checkbox" [(ngModel)]="user.enabled" name="enabled">
                </div>
            </div>

            <div class="form-group row">
                <label for="rol" class="col-form-label col-sm-2">Selecionar rRles</label>
                <div class="col-sm-6">
                    <ul>
                        <li *ngFor="let rol of roles">
                        <input type="checkbox" [(ngModel)]="rol.checked" name="rol">{{rol.descripcion}}
                      </li>
                    </ul>
                </div>
            </div>
            <div class="form-group row">
                <label for="dni" class="col-form-label col-sm-2">persona</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.persona.dni" name="dni"
                        #modelo="ngModel"> <!-- required minlength="4" -->
                </div>
            </div>
           


            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()'
                        *ngIf="!user.id else elseBlock">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                    </ng-template>
                </div>
            </div>



        </form>

    </div>
</div>
